@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html, body {
  @apply bg-neutral-50 text-neutral-900 antialiased;
  -webkit-tap-highlight-color: transparent;
}

/* área safe para iOS PWA */
.safe-top { padding-top: env(safe-area-inset-top); }
.safe-bottom { padding-bottom: env(safe-area-inset-bottom); }
